TaskManagement.MVVM/Service References/TaskService/TaskService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27030/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TaskManagement.DAL.Models" />
  <xs:element name="GetRootTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TaskManagement.DAL.Models" minOccurs="0" name="GetRootTasksResult" nillable="true" type="q1:ArrayOfUserTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildsForTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildsForTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TaskManagement.DAL.Models" minOccurs="0" name="GetChildsForTaskResult" nillable="true" type="q2:ArrayOfUserTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TaskManagement.DAL.Models" minOccurs="0" name="userTask" nillable="true" type="q3:UserTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TaskManagement.DAL.Models" minOccurs="0" name="userTask" nillable="true" type="q4:UserTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TaskManagement.DAL.Models" minOccurs="0" name="userTask" nillable="true" type="q5:UserTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TaskManagement.DAL.Models" minOccurs="0" name="FindTaskResult" nillable="true" type="q6:UserTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>